<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bill</title>
  <script src="./vue.js"></script>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<div id="app">
  <div class="container">
    <header>
        <div id="painel">
          <h1>{{money}}</h1>
        </div>
    </header>

    <section class="produtos">
      <div v-for="produto in produtos" :key="produto.id" class="produto">
        <img :src="produto.img" alt="" class="" />
        <h4>{{ produto.nome }}</h4>
        <span class="preco">{{ produto.preco }}</span>
        <div class="controles">
          <button>Sell</button>
          <input class="qtd-produto" v-model="produto.estoque" />
          <button @click="Buy">Buy</button>
        </div>
      </div>
    </section>


    <div class="carrinho_container">
      <button class="carrinho_fechar" @click="carrinhoAtivo = false">X</button>
      <h2 class="carrinho_titulo">Carrinho</h2>
      <div v-if="carrinho.length > 0">
        <ul class="carrinho_lista">
          <li v-for="(produto, index) in carrinho" class="carrinho_item">
            <p>{{ produto.nome }}</p>
            <p class="carrinho_preco">{{ produto.preco  }}</p>
            <button class="carrinho_remover" @click="removerItem(index)">X</button>
          </li>
        </ul>
        <p class="carrinho_total">{{ carrinhoTotal }}</p>
        <button class="carrinho_finaliar">Finalizar Compra</button>
      </div>
      <p v-else>O carrinho está cazio</p>
    </div>


  </div>
</div>


<script src="./app.js"></script>
</body>
</html>